body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family:'Roboto',sans-serif;
}

.left, .right {
  display: flex;
  align-items: center;
}

a {
  justify-content: flex-start;
  text-decoration: none;
  margin: 0.5em;
  text-align: center;
}

a:hover {
  color: aliceblue;
}

input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  margin: .2em;
  padding: .4em;
  border-radius: 3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border: 1px solid #ccc;
}

.button {
  display: inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  background-color:black; 
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

.button:hover {
  color:#000000;
  background-color:#FFFFFF;
}

.page-body {
  margin: 0 1em 0.5em;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper .card {
  flex: 0 0 auto;
}

h4 {
  display: flex;
  justify-content: center;
}

.reading {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: 3em 10em;
  background-color: lightgray;
  border: 2px solid black;
  position:relative;
}

.reading button {
  display:block;
  padding: 0;
  width:2em;
  height:1.5em;
  position:absolute;
  top:0px;
  right:1px;
  color: #000000;
  background:#c00;
  overflow:hidden;
  text-align: center;
}
